body {
    background-color: #020202
}

.bg-dark,
.card,
.sidebar {
    background-color: #151419 !important
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #424242; */
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        font-size: calc(15px + 0.390625vw);
    }
}

@media (min-width: 1200px) .h3,
h3 {
    font-size: 1.4rem;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    background-color: #424242;
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

a:not(.sidenav-link):not(.btn):not(.dropdown-item):not(.nav-link):not(.navbar-brand):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next) {
    color: #fff;
}

a:not(.sidenav-link):not(.btn):not(.dropdown-item):not(.nav-link):not(.navbar-brand):not(.page-link):not(.carousel-control-prev):not(.carousel-control-next):hover {
    color: #fff
}

.form-outline .form-control {
    background: transparent;
    color: #fff;
}