@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

        body {
            font-family: 'Source Sans Pro', sans-serif;
           
        }

        @media (min-width: 991.98px) {
            main {
                padding-left: 240px;
            }
        }

        @media (max-width: 991.98px) {
            .sidebar {
                width: 100%;
            }
        }

        @media only screen and (max-width: 767px) {
            .navbar-brand {
                font-size: calc(15px + 0.390625vw);
            }
        }
        @media (min-width: 1200px) .h3,
        h3 {
            font-size: 1.4rem;
        }
    #myForm {
      display: none;
    }
   #done {
      display: none;
    }