#myVideo .jw-active-option{
            color: #cccccc !important;
        }
        .jw-dock-image{
            background-size: 70% !important;
            background-size: 70% 70% !important;
        }
        .videocontent,#myVideo{
            min-height:260px;
        }
        .jw-slider-time .jw-cue{
            background-color: #FDB813 !important;
        }
        @media only screen and (max-width: 450px) { 
            .jw-settings-topbar .jw-settings-close { margin-right: 30px; !important}
          }
          .videocontent{position: relative;color: #fff;}
 #list-server-more{z-index: 1;padding: 10px 0 0 0;position: absolute;color: #fff;top: 0;right: 8px;text-align: right;font-family: Arial, Helvetica, sans-serif;}
 #show-server{color: #fff;padding: 5px 15px;font-size: 10px;background: url('../video/img/bg/icon.png') no-repeat center center;}
 .list-server-items{margin-top: 10px;background: rgba(0, 0, 0, .7);}
 .list-server-items li {cursor: pointer;padding: 6px 5px 6px 15px;color: #ccc;text-align: right;list-style: none;border-top: solid 1px #20201f;font-size: 13px;}
 .list-server-items li.active, .list-server-items li:hover{color: #fff;}
 #load-iframe{display: none;position: relative;}
  .list-server-items li:first-child{border: 0;}
 .list-server-items a{color: #ccc;text-decoration: none}
 .list-server-items a:hover,.list-server-items .active a{
     color: #FFFFFF;}