RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteRule ^upload upload.php [QSA,L]
RewriteRule ^get-links get-links.php [QSA,L]


RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_URI} !^/upload$
RewriteCond %{REQUEST_URI} !^/get-links$
RewriteCond %{REQUEST_URI} !^/test
RewriteCond %{REQUEST_URI} !^/classes.php$
RewriteCond %{REQUEST_URI} !^/tem-classes.php$
RewriteRule ^.*$ / [R=301,L]
